################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/VideoClient/VideoClient/VideoClient.vcxproj
/VideoClient/VideoClient/VideoClient.vcxproj.filters
/VideoClient/x64
/VideoClient/VideoClient/x64
/VideoClient/VideoClient/res
